<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>breakfast-template</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <!-- header -->
    <header class="header">
        <div class="container">
        <div class="row">
            <div class="logo">
                <a href="./index.html">My Recipes</a>
            </div>
            <input type="checkbox" id="nav-check">
            <label for="nav-check" class="nav-toggler">
                <span></span>
            </label>
            <nav class="nav">
                <ul>
                    <!-- <li><a href="#" class="active">home</a></li> -->
                    <li><a href="./index.html" class="link">home</a></li>
                    <li><a href="./about.html">about</a></li>
                    <li><a href="./tags.html">tags</a></li>
                    <li><a href="./recipes.html">recipes</a></li>
                </ul>
            </nav>
        </div>
        </div>
    </header>
    <!-- main content-->
    <main class="page">
      <div>
        <h4>Break-fast</h4>
        <div class="recipes-list">
          <a href="#" class="recipe">
            <img src=".././images/masala-dosha.webp" alt="masala-dosha" class="img recipe-img">
            <h5>Masala Dosha</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/pav-bhaji.webp" alt="pav-bhaji" class="img recipe-img">
            <h5>Pav Bhaji</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
        </div>
      </div>
    </main>
    <!-- footer-->
    <footer class="page-footer">
        <p>Copyright &copy; 2023 <span id="my-recipe">My Receipe</span> All Rights Reserved | Built By Rohit Besra</p>
    </footer>
  </body>
</html>
