<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>non-veg-template</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <a href="./index.html">My Recipes</a>
                </div>
                <input type="checkbox" id="nav-check">
                <label for="nav-check" class="nav-toggler">
                    <span></span>
                </label>
                <nav class="nav">
                    <ul>
                        <!-- <li><a href="#" class="active">home</a></li> -->
                        <li><a href="./index.html" class="link">home</a></li>
                        <li><a href="./about.html">about</a></li>
                        <li><a href="./tags.html">tags</a></li>
                        <li><a href="./recipes.html">recipes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- main content-->
    <main class="page">
      <div>
        <h4>Non-Veg Recipes</h4>
        <div class="recipes-list">
          <a href="#" class="recipe">
            <img src=".././images/fish-curry.webp" alt="fish-curry" class="img recipe-img">
            <h5>Fish Curry</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/rogan-josh.webp" alt="rogan-josh" class="img recipe-img">
            <h5>Rogan Josh</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/tandoori-meats.webp" alt="tandoori-meats" class="img recipe-img">
            <h5>Tandoori Meat</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/butter-chicken.webp" alt="butter-chicken" class="img recipe-img">
            <h5>Butter Chicken</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/biryani.webp" alt="biryani" class="img recipe-img">
            <h5>Chicken Biryani</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
          <a href="#" class="recipe">
            <img src=".././images/Chicken-Tikka.webp" alt="chicken-tikka-masala" class="img recipe-img">
            <h5>Chicken Tikka Masala</h5>
            <p>Prep : 15min | Cook : 9:04 min</p>
          </a>
        </div>
      </div>
    </main>  
     <!-- footer-->
    <footer class="page-footer">
       <p>Copyright &copy; 2023 <span id="my-recipe">My Receipe</span> All Rights Reserved | Built By Rohit Besra</p>
    </footer>
  </body>
</html>
